@model GetGuideByIdQueryResult
@{
    ViewData["Title"] = "GetGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rehber Bilgi Düzenleme Sayfası</h2>


<table class="table table-bordered">
    <input type="hidden" asp-for="GuideID" />
    <label>Rehber Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Rehber Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Bilgileri Güncelle</button>
</table>